<template name="coming_soon">
<!--This template recreated from startbootstrap.com -->
    <div id="header" class="header-image">
      <div class="headline">
        <div class="container">
          <h1>Meteor Indonesia</h1>
          <h2>Segera Hadir</h2>

        </div>
      </div>

    </div><!-- /header-image -->

    <div class="container">
    <!--
      <div class="nav-container">
      	<ul class="nav nav-pills">
      		<li>
      			<a href="http://meteor.com">Meteorjs</a>
      		</li>
      	</ul>
      </div>-->
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle img-responsive pull-right" height="400px" width="400px" src="/images/bendera-indonesia.jpeg">
        <h2 class="featurette-heading"><a href="http://meteor.com">Meteor</a> <span class="text-muted">Akan Menghantam Indonesia</span></h2>
        <p class="lead">Meteorin atau singkatan Meteor Indonesia adalah sebuah organisasi open-source sebagai sarana informasi dan berbagi untuk belajar Meteorjs di Indonesia.
	        Meteor js adalah sebuah framework 
        </p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image img-circle img-responsive pull-left" height="400px" width="400px"  src="/images/learn.jpg">
        <h2 class="featurette-heading"><span class="text-muted">Sarana</span> Pembelajaran</h2>
        <p class="lead">Meteorin berfungsi sebagai sarana untuk memahami Meteorjs.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" height="400px" width="400px" src="/images/share.png">
        <h2 class="featurette-heading"><span class="text-muted">Sarana</span> Berbagi</h2>
        <p class="lead">Meteorin juga bergungsi sebagai wadah untuk para peminat meteor untuk berbagi ilmu mereka.</p>
      </div>

      <!-- /END THE FEATURETTES -->

      <hr>

      <!-- FOOTER -->
      <footer>
        <p>Copyright &copy; Meteorin 2013</p>
      </footer>
      <!-- /END OF FOOTER -->

    </div><!-- /container -->
</template>