<template name="tmp_front_sidebar">
    <div class="col-lg-4 front-side-wrapper">
        <div class="font-white">
            <h1>
                Meteorid
            </h1>
            <p>Meteor Indonesia</p>
        </div>
        <br />
        <div class="font-white"><p>Segera hadir dalam :</p></div>
        <div id="divCountDown"></div>
        <div class="bg-white mini-box margin-top20">
            {{>tmp_fb_share}}
        </div>
        <!--<br />
        <div class="btn-group-vertical" style="float: right;">
            <a id="hplCaraInstall" href="" class="btn btn-default">cara install</a>
            <a id="hplKomentar" href="" class="btn btn-default">komentar</a>
        </div>-->
    </div>

</template>